@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
  background-image: url(/img/slider/slide05-05.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  color: #555;

  -webkit-font-smoothing:antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 0;
  
}

header{
    background: #2d2d2d;
    padding-bottom: 20px;
    
}

h1#title {
  font-family: "Raleway";
  font-weight: 300;
  color: #76fd0ff2;
}

h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: #f85c37;
}

a:hover {
  color: blue;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar{
    margin: 0;
    
}

.navbar a{
    color: #fff;
}

.navbar a:hover {
    color: blue;
}

.navbar-toggle span {
    background: #fff;
}

#headerwrap {
  background: url(../img/slider/full01.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 200px;
  color: white;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}

#headerwrap h2{
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.w {
  padding-top: 35px;
}

.w h4 {
  font-size: 25px;
}

#dark {
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center; 
}

#works h4 {
  font-size: 40px;
}


form.registerform {
    text-align: center;
    padding-top: 50px;
}

#page{
  padding-top: 50px;
  text-align: center;
}

#page-container {
  text-align: center;
}

h1#reg {
  text-align: center;
  padding-top: 100px;
}

.footer {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}

.footer i:hover {
  color: #ff7878;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 550px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
}

img#cat {
    height: 50px;
    margin-top: 5px;
}

h3#pagetext {
    text-align: center;
}

#page-container {
    margin: 30px;
    padding: 30px;
}

.col-md-6 {
    margin: 20px;
}

